section.templates .video-wrapper {
    position: fixed;
    z-index: -1
}

.video-bg,.video-wrapper,video {
    position: absolute;
    top: 0;
    width: 100%
}

.video-wrapper {
    height: 100%;
    z-index: 0;
    overflow: hidden
}

.tablet .video-wrapper {
    display: none
}