.video-wrapper,video {
	position: absolute;
    z-index: -1;
	top: 0;
	width: 100%;
}

.video-wrapper {
	height: 100%;
	z-index: -1;
	overflow: hidden
}
.navbar{
    position: fixed;
    z-index: 999;
    width:90%;
}

.span12{
   
}
video{
    opacity: 0.6;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    max-width: none;
    object-fit: cover;
    -moz-background-size: cover;
    background-size: cover;
}

section {
    overflow: hidden;
}
.behind_me{
    width: 342px;
    z-index: -1;
    position: absolute;
    text-align: center;
    font-size: 12%;
    vertical-align:middle;
}
.hero-unit{
    opacity: 0.83;
    background-color: transparent
}
.more{
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
    width: 10%;
    border-radius: 10px;
    border-style:solid;
    border-width: 1px;
    border-color:darkturquoise ;
    font-size: 30px;
    background-color: transparent;
    margin: auto;
    font-family: inherit;
}
.show_dennis{
    opacity: 0.8;
    border-radius: 300px 
}
.oracle{
    border-radius: 30px;
}
.myheart{
    text-align: center
}
body{
    overflow-y: scroll;
    overflow-x: hidden
}

.detail{
    visibility: hidden
}

#low-more{
    visibility: hidden
}

.life{
    padding-top: 4px;
}

sub{
    visibility: hidden;
    color:grey;
}
